.button-theme, .button-darkmode {
  background-color: var(--background);
  border: 2px solid var(--accent);
  border-radius: 8px;
  color: var(--text);
  padding: 8px;
  font-weight: bold;
}

.theme-buttons {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--accent);
  padding-top: 10px;
}