.button-theme {
  background-color: var(--background);
  border: 2px solid var(--accent);
  border-radius: 8px;
  color: var(--accent);
  padding: 8px;
  font-weight: bold;
  margin: 5px;
}

.button-darkmode {
  background-color: var(--background);
  border: 2px solid var(--accent);
  border-radius: 8px;
  color: var(--accent);
  margin: 10px;
  padding: 10px;
  max-width: 100px;
}