.contact {
    display: flex;
    flex-direction: column;
}
.contact-title {
    margin: auto;
}
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}
.contact-form input, .contact-form textarea {
    min-height: 40px;
    border: 1px solid var(--text);
    border-radius: 8px;
}
.contact-form textarea {
    resize: vertical;
}
.form-row {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}
.form-col {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}
.right {
    justify-content: right;
    margin-right: 5px;
}
.contact-footer {
    display: flex;
    justify-content: center;
    background-color: var(--background-soft);
    width: 100vw;
    padding: 10px;
    position: fixed;
    bottom: 0;
}