
.gdpr {
    display: flex;
    flex-direction: column;
}

.gdpr-consent {
    display: flex;
    background: var(--background);
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 10px;
    border: 2px solid var(--background-soft);
    border-radius: 17px;
}

.gdpr-consent__description{
    display: flex;
    justify-content: center;
}

.gdpr-consent__choice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__button--accept, .gdpr-consent__button--reject {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gray;
}

.gdpr-consent__button--accept {
    background-color: #d5f5d5;
}

.gdpr-consent__button--accept:hover {
    background-color: #c5e3c5;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

