:root {
    /* --background: #121212;
    --accent: #70a636; */
    --background: white;
    --background-soft: #e6e6e6;
    --accent: ##88e524;
    --highlight: #84ff00;
    --text: black;
}
[data-theme="dark"] {
    --background: black;
    --background-soft: #333;
    --text: white;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'Oxanium',serif ;
    overflow-x: hidden;
    /* background: linear-gradient(to bottom, transparent 50%, var(--background) 50%),
                linear-gradient(to right, var(--background-soft) 50%, var(--background) 50%); */
    background-color: var(--background);
    color: var(--text);
    background-size: 10px 10px;
    height: 100%;
    width: 100%;
}

header {
    background-image: url("css/img/1v43gtn83kc61.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    aspect-ratio: 32 / 9;
}

button {
    cursor: pointer;
}

h1 {
    margin-bottom: 15px;
}
.margin {
    margin: 20px;
}
a {
    text-decoration: none;
    color: var(--text);
}

/* Header */
header {
    min-height:130px;
    display: flex;
    justify-content: center;
}
header h1 {
    color: white;
    text-shadow: var(--text) 0px 1px 0px;
    align-self: end;
    font-size: 60px;
}

/* General */
.vertical {
    display: flex;
    flex-direction: column;
}
.center {
    display: flex;
    margin: auto;
}
.shadowed {
    box-shadow: var(--text) 1px 1px 3px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--background) transparent 50%;
}
/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #87ac5f; */
    background: #ababab;
}
::-webkit-scrollbar-thumb:hover {
    /* background: #51742b; */
    background: #747474;
}

.contact-form {
    display: flex;
    flex-direction: column;   
}
.form-row {
    display: flex;
    flex-basis: 50%;
    margin-top: 5px;
}
.contact-form label {
    margin-top: 5px;
    margin-right: 5px;
}
.contact-form input {
    max-width: 30%;
}
.contact-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding:0;
}
.contact-list li {
    flex-basis: 50%;
}
.contact-list a {
    text-decoration: underline;
}
.body {
    display: flex;
    flex-direction: column;
}
.skills {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
.rating {
    flex-basis: 33%;
}
/* Sidebar */
.sidebar {
    left: 0;
    background: linear-gradient(var(--background-soft), var(--background));
}
.sidebar section {
    border-bottom: 1px solid linear-gradient(to right, var(--background), transparent);
}
/* Content */
.content {
    padding: 15px;
    width: 95%;
}
article {
    border-top: 1px solid var(--accent);
}

.bordered {
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
}
.scroll {
    overflow-y: scroll;
    max-height: 83.5vh;
}
.container span {
    color: var(--accent);
    text-shadow: #333 1px 0px 0px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
}
.container p {
    margin: 10px;
}
.dropdown-icon {
    margin-right: 5px;
    background-image: url("/css/Support/arrow-w.png");
    height: 20px;
    width: 20px;
}
.extended {
    max-height: 500px !important;
}

@media screen and (min-width: 800px) {
    .body {
        flex-direction: row;
    }
    
    .sidebar {
        width: 400px;
    }

    .content {
        background-color: var(--background);
    }

    .contact-list {
        flex-direction: column;
    }
}