:root {
    /* --background: #121212;
    --accent: #70a636; */
    --background: #ffffff;
    --background-soft: #e6e6e6;
    --accent: #70a636;
    --highlight: #84ff00;
    --text: black;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'Oxanium',serif ;
    overflow-x: hidden;
    /* background: linear-gradient(to bottom, transparent 50%, var(--background) 50%),
                linear-gradient(to right, var(--background-soft) 50%, var(--background) 50%); */
    background-color: var(--background);
    background-size: 10px 10px;
    height: 100%;
    width: 100%;
}

header {
    background-image: url("css/img/1v43gtn83kc61.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    aspect-ratio: 32 / 9;
}

button {
    cursor: pointer;
}

h1 {
    margin-bottom: 15px;
}
.margin {
    margin: 20px;
}
a {
    text-decoration: none;
    color: var(--text);
}

/* Header */
header {
    min-height:130px;
    display: flex;
    justify-content: center;
}
header h1 {
    color: white;
    text-shadow: var(--text) 0px 1px 0px;
    align-self: end;
    font-size: 60px;
}

/* General */
.vertical {
    display: flex;
    flex-direction: column;
}
.center {
    display: flex;
    margin: auto;
}
.shadowed {
    box-shadow: var(--text) 1px 1px 3px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--background) transparent 50%;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #87ac5f;
}
::-webkit-scrollbar-thumb:hover {
    background: #51742b;
}

.body {
    display: flex;
    flex-direction: column;
}
.skills {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
.rating {
    flex-basis: 33%;
}
/* Sidebar */
.sidebar {
    left: 0;
    background: linear-gradient(var(--background-soft), var(--background));
}
/* Content */
.content {
    padding: 15px;
    width: 100%;
}
article {
    border-top: 1px solid var(--accent);
    color: var(--text);
}

.bordered {
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
}
.scroll {
    overflow-y: scroll;
    max-height: 83.5vh;
}
.container span {
    color: var(--accent);
    text-shadow: teal 1px 1px 1px;
    text-transform: capitalize;
}
.container p {
    margin: 10px;
}

/*footer*/
.footer {
    width: 100%;
    position: absolute;
    height: 65px;
    bottom: 0px;
    background: var(--background);
    border-top: 2px solid var(--accent);
}
.footer p {
    width: fit-content;
    color: #e1ffe5;
    padding-top: 25px;
    margin: auto;
}
/*zoom*/
#zoom {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0000005b;
    cursor: pointer;
}
#zoom img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 175px;
    max-width: 512px;
    max-height: 512px;
}
.dropdown-icon {
    margin-right: 5px;
}
.extended {
    max-height: 500px !important;
}

@media screen and (min-width: 800px) {
    .body {
        flex-direction: row;
    }
    
    .sidebar {
        width: 400px;
    }

    .content {
        background-color: var(--background);
    }
}